body{
display:flex;
justify-content: center;
align-items: center;
min-height: 60vh;
background: rgb(171,29,84);
font-family: Arial, sans-serif;

}

.main-container {
    margin: 15%;
    width: 50%;
    margin-top: 5%;
    background-color: white;
    height: 50%;
    padding: 5%;


  
}
.navbar{
    gap: 25%;
    display:flex;
    background-color:  rgb(171,29,84);
    color: aliceblue;
  
      
}
form{
    background-color: aliceblue;
    width:500px;
}




.company-logo{
    display:flex


}
.links {
    display: flex;
    flex-direction: row;
    gap: 20%;
    font-size: larger;
    padding-right: 30%;
    

}
.links a{
    text-decoration: none;
    color:wheat; 
    
}
.button{
    padding-left: 50%;
    font-size: xx-large;
    width: 200px;
    height: 100px;
    background-color: rgb(83, 83, 231);
    
}



@media only screen and (min-width: 280px) and (max-width:600px){
    body{
    height: 80h;
    background: rgb(171,29,84);
    font-family: Arial, sans-serif;
    width: 800px;
    margin:0px
    
    
    }
    
    .container {

        background-color: white;
        margin-left: 10px;
        margin-right: 4px;
        width: 10px;
        padding-left: 0px;
        height: 90px;
    

        

    
    
      
    }
    .navbar{
        display:grid;
        background-color:  rgb(171,29,84);
        color: aliceblue;
        height: 400px;
        gap: 0px;
        
        
      
          
    }
    form{
        background-color: aliceblue;
        width:20px;
        
        
        
    }
    
    
    
    
    .company-logo{
        display:grid;
        width: 60px;
    
    
    }
    .navbar a {
        display: grid;
        gap:0px
        
    
        
    
    
        
    
    }
    .links {
        text-decoration: none;
        color:wheat; 
        padding-right: 0px;
        display: grid;
        margin-right: 2px;
        margin-left: 0px;
        gap: 0px;
        font-size:15px ;
        height: 300px;
        width: 30px;

        
    }
    .button{
        padding-left:0%;
        font-size: small;
        width: 15px;
        height: 10px;
        background-color: rgb(83, 83, 231);
        
    }
    h1{
        font-size: small;
    }
    input{
        width: 100px;
    }
    }



    @media only screen and (max-width: 1028px){
        body{
        height: 80h;
        background: rgb(171,29,84);
        font-family: Arial, sans-serif;
        width: 800px;
        margin:0px
        }
        
        .container {
    
            background-color: white;
            margin-left: 10px;
            margin-right: 4px;
            width: 10px;
            padding-left: 0px;
            height: 90px;
    
            
    
        
        
          
        }
        .navbar{
            display:grid;
            background-color:  rgb(171,29,84);
            color: aliceblue;
            height: 400px;
            gap: 0px;
            
            
          
              
        }
        form{
            background-color: aliceblue;
            width:20px;
            
            
            
        }
        
        
        
        
        .company-logo{
            display:grid;
            width: 60px;
        
        
        }
        .navbar a {
            display: grid;
            gap:0px
            
        
            
        
        
            
        
        }
        .links {
            text-decoration: none;
            color:wheat; 
            padding-right: 0px;
            display: grid;
            margin-right: 2px;
            margin-left: 0px;
            gap: 0px;
            font-size:15px ;
            height: 300px;
            width: 30px;
    
            
        }
        .button{
            padding-left:0%;
            font-size: small;
            width: 15px;
            height: 10px;
            background-color: rgb(83, 83, 231);
            
        }
        h1{
            font-size: small;
        }
        input{
            width: 100px;
        }
        }
    
    
    