.main-container{
color:white;
height:773px;
padding-left: 30%;
font-size: 20px;
padding: 7%;
margin: 3px;



}

.book-summary{
    display: flex;
    gap: 200px;
    font-size: 26px;
    background-color:rgb(171,29,84) ;




}
.navbar{
    gap: 10%;
    display:flex;
    background-color:  rgb(171,29,84);
    color: aliceblue;
    padding-right: 30%;
    text-decoration: none;
    
}
.navbar a{
    display: flex;
    padding-right: 2%;
    text-decoration: none;
    color:white;
}
.company-logo{
    display:flex


}
.navbar-links {
    display: flex;
    flex-direction: row;
    gap: 20%;
    font-size: larger;

    

}
.navbar-links a{
    text-decoration: none;
    color:white; 
    
}
.book-image{
    width: 500px;
}
.paragraph {
    font-size: 27px;
}

@media only screen and (max-width: 768px){
    .main-container{
    color:white;
    font-size: 5px;
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
    
    
    
    
    }
    
    .book-summary{
        display: grid;
        width: 300px;
        font-size: 15px;
        background-color:rgb(171,29,84) ;
        margin-left: 0px;
        margin-right: 0px;
        



    
    
    
    }
    .navbar{
        gap: 10px;
        display: grid;
        font-size: 20px;
        color: aliceblue;
        padding-right: 30px;
        text-decoration: none;
        width: 270px;
        
    }
    .navbar a{
        padding-right: 1%;
        text-decoration: none;
        color:white;
    }

    .navbar-links {
        flex-direction: row;
        gap: 20px;
        font-size: small;
    
        
    
    }
    .navbar-links a{
        text-decoration: none;
        color:white; 
        
    }
    .book-image{
        width: 200px;
        height: 500px;
        margin-top: 20px;
    }
    .paragraph {
        font-size: 20px;
    }
    }

    @media only screen and (min-width: 780px) and (max-width:1024px){
        body{
            background-color:rgb(171,29,84) ;  
        }
        .main-container{
        color:white;
        font-size: 5px;
        display: grid;
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        height: 773px;
        background-color:rgb(171,29,84) ;
        
    
        
        
        
        
        }
        
        .book-summary{
            display: grid;
            width: 230px;
            font-size: 45px;
            margin-left: 0px;
            margin-right: 0px;
            height: 500px;

            

        
        }
.paragraph{
    font-size: 5px;
    height: 300px;
    width: 10px;


}




        .navbar{
            gap: 10px;
            display: grid;
            font-size: 20px;
            color: aliceblue;
            padding-right: 30px;
            text-decoration: none;
            
        }
        .navbar a{
            padding-right: 2%;
            text-decoration: none;
            color:white;
        }
    
        .navbar-links {
            flex-direction: row;
            gap: 20px;
            font-size: small;
        
            
        
        }
        .navbar-links a{
            text-decoration: none;
            color:white; 
            
        }
        .book-image{
            width: 240px;
            height: 300px;
            margin-top: 20px;
            font-size: 30px;
        }
        }