body{
    background-color:rgb(171,29,84);
    

}


.image{
    padding-left: 5%;
    margin-top: 5%;
    
    
}
.profile{
  display: flex;
  background-color:rgb(171,29,84);
  color: white;
  padding-right: 80%;
  margin-top: 5%;
  
    
}
.mentors-details{
    padding-left: 300px;
    font-size:25px;
    width: 20px;
    padding-right: 30%;
    margin-left: 30%;

}



.navbar{
    gap: 10%;
    display:flex;
    background-color:  white;
    color: rgb(171,29,84);
    


   
}
.company-logo{
    display:flex


}
.navbar-links {
    display: flex;
    flex-direction: row;
    gap: 70%;
    font-size: larger;
    

}
.navbar-links a{
    text-decoration: none;
    color:rgb(171,29,84); 
}
.profile-header{
    background-color: rgb(171,29,84);
    color: white;
    padding-left: 45%;
    font-size: larger;
    margin-top: 5px;
}

#mentorsimage{
    border-radius:50%;
    width:800px; 

     
 }
@media only screen and (max-width: 590px) {
    body{
        background-color:rgb(171,29,84);
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    
    
        
    }
    
    
    .profile{
      display: grid;
      background-color:rgb(171,29,84);
      color: white;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      font-size: 10px;
      padding-right: 0px;
    
      
        
    }

    .mentors-details{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 2px;
        padding-right: 0px;
        display: grid;
        font-size: 20px;
        width: 40px;
        padding-left: 0px;
    

    }
    
    
    .navbar{
        display:grid;
        background-color:white;
        color: rgb(171,29,84);
        margin-right:10px ;
    
    
       
    }
    .company-logo{
        display:grid
    
    
    }
    .navbar-links {
        display: grid;
        flex-direction: row;
        gap:1%;
        font-size:10px;
        
    
    }
    .navbar-links a{
        text-decoration: none;
        color:rgb(171,29,84); 
    }
    .profile-header{
        background-color: rgb(171,29,84);
        color: white;
        font-size: 5px;
        margin-top: 1px;

    }
    #mentorsimage{
        border-radius:30%;
        width:100px; 
        margin-left: 0px;
        margin-right:0px;
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;


    }
}



@media screen and (min-width: 600px) and (max-width:1028) {
    body{
        background-color:rgb(171,29,84);
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    
    
        
    }
    
    
    .profile{
      display: grid;
      background-color:rgb(171,29,84);
      color: white;
      margin-left: 0px;
      margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
    
      
        
    }

    .mentors-details{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 2px;
        padding-right: 0px;
        display: grid;
        font-size: 20px;
        width: 20px;
        padding-left: 0px;
    

    }
    
    
    .navbar{
        display:grid;
        background-color:white;
        color: rgb(171,29,84);
    
    
    
       
    }
    .company-logo{
        display:grid
    
    
    }
    .navbar-links {
        display: grid;
        flex-direction: row;
        gap:1%;
        font-size:10px;
        
    
    }
    .navbar-links a{
        text-decoration: none;
        color:rgb(171,29,84); 
    }
    .profile-header{
        background-color: rgb(171,29,84);
        color: white;
        font-size: 5px;
        margin-top: 5px;

    }
    #mentorsimage{
        border-radius:30%;
        width:100px; 
        margin-left: 0px;
        margin-right:0px;
        font-size: 10px;
        padding-left: 0px;
        padding-right: 0px ;


    }
}