body{
    background-color: rgb(171,29,84);
    display: flex;
    padding-left: 300px;
    height: 400px;


    
}


.form{
    border: 1px ;
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin-left: 10%;
    padding: 2%;
    height: fit-content;
    margin-top: 1px;
    font-size: 20px;
    background-color:rgb(171,29,84);
    color: aliceblue;
    margin-right: 20px;
    

}

input{
    font-size: larger;
    padding-left: 350px;
    text-align: justify;
    justify-content: center;
    width: 50px;
}
label{
    font-size: larger;
}
.button {
    padding-left: 50%;
    width: 10%;
    font-size:large;
    background-color:rgb(171,29,84);
    padding-top: 40px;
        color: white;
        padding:20px;
        font-size: 20px;
        height: 5%;
        font-size: 20px;
   
   

}
.button a{
    font-size: 30px;
    text-decoration: none;
    color:rgb(171,29,84);
    width: 20px;
}

.signup button{
    padding-left: 40%;
    font-size: 10px;
    width: 100px;
    height: 30px;
    color: rgb(171,29,84);
}
.mentorshipimage{
    height:1050px;
    width: 900px;
    
}


@media only screen and (max-width: 767px) {
    body{
        background-color: rgb(171,29,84);
        display: grid;
        padding-left: 0px;
        margin-left: 0px;
        
    
    
        
    }
    
    
    .form{
        border: 1px ;
        display: grid;
        flex-direction: row;
        width:fit-content;
        margin-left: 0px;
        padding: 0px;
        height: fit-content;
        margin-top: 1px;
        font-size: 15px;
        background-color:rgb(171,29,84);
        color: aliceblue;
        margin-right: 0px;
    
        
    
    }
    
    input{
        font-size: larger;
        padding-left: 240px;
        text-align: justify;
        justify-content: center;
        width: 10px;
    }
    label{
        font-size: larger;
    }
    .button {
        padding-left: 50%;
        width: 10%;
        font-size:large;
        background-color:rgb(171,29,84);
        padding-top: 40px;
            color: white;
            padding:20px;
            font-size: 20px;
            height: 5%;
            font-size: 20px;
       
       
    
    }
    .button a{
        font-size: 30px;
        text-decoration: none;
        color:rgb(171,29,84);
        width: 20px;
    }
    
    .signup button{
        padding-left: 10px;
        font-size: 10px;
        width: 100px;
        height: 30px;
        color: rgb(171,29,84);
    }
    .mentorshipimage{
        height:500px;
        width: 250px;
        margin-left: 0px;
        padding-left: 0px;
        
    }
    
      
}
    

@media only screen and (min-width: 770px) and (max-width:1380px) {
    body{
        background-color: rgb(171,29,84);
        display: flex;
        padding-left: 0px;
        margin-left: 10px;
        margin-right: 0px;
        padding-right: 0px;
        
    
    
        
    }
    
    
    .form{
        border: 1px ;
        display: flex;
        flex-direction: row;
        width:fit-content;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        height: fit-content;
        margin-top: 1px;
        font-size: 25px;
        background-color:rgb(171,29,84);
        color: aliceblue;
        width: 100px;
        padding-left: 50px;
    
        
    
    }
    
    input{
        font-size: larger;
        padding-left: 250px;
        text-align: justify;
        justify-content: center;
        width: 10px;
    }
    label{
        font-size: larger;
    }
    .button {
        padding-left: 50%;
        width: 10%;
        font-size:large;
        background-color:rgb(171,29,84);
        padding-top: 40px;
            color: white;
            padding:20px;
            font-size: 20px;
            height: 5%;
            font-size: 20px;
       
       
    
    }
    .button a{
        font-size: 30px;
        text-decoration: none;
        color:rgb(171,29,84);
        width: 20px;
    }
    
    .signup button{
        padding-left: 20px;
        font-size: 10px;
        width: 100px;
        height: 30px;
        color: rgb(171,29,84);
    }
    .mentorshipimage{
        height:700px;
        width: 390px;
        margin-left: 0px;
        padding-left: 0px;
        
    }
    
      
}
    